<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.smartts.dsl.console.SmartTSConsole"
            icon="icons/SmartTSicon.png"
            label="SmartTS">
      </consoleFactory>
   </extension>
</plugin>
